langchain
langchain-core
langchain-community
langchain-text-splitters

langchain-mistralai

langchain-openai
openai

langchain-anthropic

langchain-google-genai
google-generativeai

langchain-huggingface
transformers
huggingface-hub
sentence-transformers

python-dotenv

numpy
scikit-learn

streamlit

faiss-cpu
pypdf